<div  id="img-bac" class="jumbotron">
  <h1>Happy Spa!</h1>
  <p class="lead">
    Always a pleasure receive you!
  </p>
</div>

<div id="services" class="container">
  <div ng-style="{ 'background': 'url({{item.image}})' }" class="service-item" ng-repeat="item in vm.serviceList">
    <div class="content-service">
      <h4>{{ item.name }}</h4>
      <p>{{ item.description }}</p>
      <p>COP {{ item.cost }}</p>
      <a ui-sref="home.detail({id:item.id})">Ver detalles</a>
    </div>
  </div>

  <p>* Reserva cualquiera de nuestros servicios con facilidad</p>
</div>